.add-to-cart-button {
    background-color: lightseagreen;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 20px;
}

.add-to-cart-button:hover {
    transform: scale(1.03);
    background-color: darkseagreen;
    transition: transform 0.2s ease-out;
}
